docx2txt
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-generativeai
langchain-community
langchain-google-genai
pinecone-client
pypdf
langchain==0.0.196
streamlit==1.25.0
python-dotenv==1.0.0
