docx2txt
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-generativeai
langchain
langchain-community
langchain-core
langchain-google
langchain-text-splitters
pinecone
pinecone-client
pinecone-plugin-inference
pypdf
PyPDF2
python-dotenv
streamlit
